---
  layout: default
  title: Eleventy Template title about
  eleventyNavigation:
    key: About
    title: About
    order: 2
---

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/assets/img/bg-img/contact-us.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Famie Benefits Area Start ##### -->
  {% set class="pt-0" %}
  {% include "modules/benefits.njk"  %}
  <!-- ##### Famie Benefits Area End ##### -->



  <!-- ##### About Area Start ##### -->
 <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>ABOUT US</p>
              <h1><span>Let Us Tell You</span> about us </h1>
              <img src="/assets/img/core-img/decor.png" alt="">
            </div>
            <p>We are a family business with over 20 years of combined experience in the synthetic turf industry. We are here to help you with any of your synthetic grass needs whether you're a homeowner, landscape contractor, designer, or DIYer. </p>
            <p>We offer the highest-quality artificial turf with the longest warranties for every budget and every project. Our products are made in the USA and we carry the latest technology in our turf products. Our artificial turf is free from chemicals and safe for children and pets. If you have any questions, our 5-star customer service team will help you from start to finish.</p>

            <a href="/contact" class="btn famie-btn mt-30">Contact Us</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="/assets/img/bg-img/6.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Area End ##### -->
<!-- ##### What we have Area Start ##### -->
  {% include "modules/what-we-have.njk"  %}
  <!-- ##### What we have Area End ##### -->
  <!-- ##### What we have Area Start ##### -->
  {% include "modules/applications.njk"  %}
  <!-- ##### What we have Area End ##### -->
