  <!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="campaign-slides owl-carousel owl-theme">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides gcampaign bg-img bg-overlay" style="background-image: url(/assets/img/campaign-gallery/slide1-512x512.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">The Artificial Grass Experts in Miami</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Call us for a free estimate. Hablamos espanol</p>
                <a href="#contact-us-area" class="scrollTo btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides gcampaign bg-img bg-overlay" style="background-image: url(/assets/img/campaign-gallery/slide2-512x512.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">The Artificial Grass Experts in Miami</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Call us for a free estimate. Hablamos espanol</p>
                <a href="#contact-us-area" class="scrollTo btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides gcampaign bg-img bg-overlay" style="background-image: url(/assets/img/campaign-gallery/slide3-512x512.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">The Artificial Grass Experts in Miami</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Call us for a free estimate. Hablamos espanol</p>
                <a href="#contact-us-area" class="scrollTo btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides gcampaign bg-img bg-overlay" style="background-image: url(/assets/img/campaign-gallery/slide4-512x512.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
               <h2 data-animation="fadeInUp" data-delay="200ms">The Artificial Grass Experts in Miami</h2>
                <p data-animation="fadeInUp" data-delay="400ms">Call us for a free estimate. Hablamos espanol</p>
                <a href="#contact-us-area" class="scrollTo btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->