 <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100 mt-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h1><span>Let Us</span> Tell You about our products</h1>
              <img src="/assets/img/core-img/decor.png" alt="">
            </div>
            <p>We built our company with a goal to exceed your expectations with the best quality product, while offering you a unique fake grass solution for your lawn needs.
            The King of Turf carries a wide selection of gorgeous, authentic-looking turf that will save you time, money, and back-breaking yardwork. We design, install and sell artificial grass solutions for a wide range of residential and commercial clients.<br> We primarily service Miami Dade and Broward.</p>
            <a href="/our-products" class="btn famie-btn mt-30">Read More</a>
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100 mt-100">
            <img src="/assets/img/bg-img/6.jpg" alt="">
            <!-- Play Icon -->
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->