 <section class="farming-practice-area section-padding-100-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>Make the world green</p>
            <h1><span>The King of Turf</span> Products Applications</h1>
            <img src="/assets/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/9.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Artificial Grass for Lawns</h4>
              <p>Whether your existing lawn is large or small, we has solutions that will 
              provide you with a realistic looking and feeling artificial lawn surface that can last longer than your asphalt roof.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/10.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Synthetic Grass for Homes</h4>
              <p>It’s important to take pride in the appearance of your property. An aesthetically pleasing environment surrounding your property will not only maintain a high end image but will also increase its value. </p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/11.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Athletic & Sports Fields</h4>
              <p>Whether it’s a football, soccer, rugby, or an all-purpose sports field, it takes a lot of work and money to make sure it is consistently usable and presentable.
              synthetic turf, is an excellent long-term solution.</p>
              </p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="400ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/12.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Commercial Businesses</h4>
              <p>Artificial turf isn’t just for residential properties. Commercial establishments are upgrading their grass lawns too. From lush outdoor lawns to indoor green spaces, synthetic lawns offload the cost of irrigation while enhancing your space’s natural beauty.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/13.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Playgrounds</h4>
              <p>While it’s impossible to completely avoid childhood injuries, upgrading a playground or daycare center 
              with synthetic turf will provide a consistent, high performance, and cushioned surface for all recreational activities and play.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/14.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Pet Turf</h4>
              <p>Pet Turf is engineered to be resilient, non-absorbent, and permeable. It is also designed to appear and feel as realistic as natural grass. Artificial pet turf 
              will accentuate your landscaping and can be used for your entire lawn, pet run or kennel area.  </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>