    <section class="services-area d-flex flex-wrap">
    <!-- Service Thumbnail -->
    <div class="services-thumbnail bg-img jarallax" style="background-image: url('/assets/img/bg-img/7.jpg');"></div>

    <!-- Service Content -->
    <div class="services-content section-padding-100-50 px-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>What we have</p>
              <h1><span>We have </span>the highest quality and better prices in the business.</h1>
              <img src="/assets/img/core-img/decor.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-50">
            <p>The King of Turf is proud to offer our synthetic grass 100% made in the USA. Our products are known for its inspiring and vibrant colors, finest quality, durability,
            variety for lawns, commercial landscapes,
            stadiums, playgrounds, sports fields and putting greens.</p> <p>Our innovation, speed of delivery, creativity, warranties,
            and service to end users convert the most valuable assets of our artificial grass products.</p>
            <p>Upgrading your yard grass with our synthetic turf offers many benefits including water savings, landscape services, problem shade growth areas
            and waterfront properties sensitive to the salt water environment.</p>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="/assets/img/core-img/checkmark.png" alt="">
                <h5>Cost Savings</h5>
              </div>
              <p>Our artificial turf can help you save money on water bills, which can add up significantly over
time, but also you can save money by not needing to purchase expensive products for lawn care or hire garden caretakers. </p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="/assets/img/core-img/checkmark.png" alt="">
                <h5>Low Maintenance</h5>
              </div>
              <p>Artificial turf does not require much maintenance compared to natural lawns. It does not need to be mowed, synthetic grass only needs to be swept or sprayed down with a hose every so often in order to keep it clean.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="/assets/img/core-img/checkmark.png" alt="">
                <h5>Convenience</h5>
              </div>
              <p>Artificial turf can be customized to fit any type of lawn or outdoor property
, such as golf courses and athletic fields. You can choose the length you need for your property,
rather than being limited to certain lengths or measurements. </p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-lg-6">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- Service Title -->
              <div class="service-title mb-3 d-flex align-items-center">
                <img src="/assets/img/core-img/checkmark.png" alt="">
                <h5>Appearance</h5>
              </div>
              <p>Having artificial turf provides a couple of aesthetic benefits. You can have a lawn that always looks like it is in good
condition with minimal care. Our artificial turf also does not develop dry spots like natural lawns when they are not watered enough. </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>