  <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" id='why-us' style="background-image: url('/assets/img/bg-img/8.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <p>Why The King of Turf?</p>
              <h2><span>Highest-quality products, affordable prices</span> and excellent Customer Service</h2>
             
              <img src="/assets/img/core-img/decor2.png" alt="">
            </div>
            <p class="text-white mb-50 text-center">We offer the highest-quality artificial turf with the longest warranties for every budget and every project. 
           Our products are made in the USA and we carry the latest technology in our turf products. Our artificial turf is free 
from chemicals and safe for children and pets. If you have any questions, our 5-star customer service team will help you from start to finish.</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div >
         <a href="/contact" class="btn famie-btn mt-30">Contact us</a>
        </div>
      </div>
    </div>
  </section>